@import "../styles";
@import "../../node_modules/bulma/sass/elements/box";
@import "../../node_modules/bulma/sass/components/card";

.result-box {
  border: .2px solid #3d414c;
  padding: 20px;
  width: 600px;
  border-radius: 5px;
  box-shadow: 0 10px 5px rgba(0,0,0,0.15);
  line-height: 1.5;
  // background-size: cover;
  background-color: #fff;
}
